{% set photos = [
    {asset: 'slider-bench-books.jpg', alt: 'books' , active: true},
    {asset: 'slider-book-flowers.jpg', alt: 'flowers', active: false},
    {asset: 'slider-book-pages.jpg', alt: 'pages', active: false},
    {asset: 'slider-library-bulbs.jpg', alt: 'bulbs', active: false},
] %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
	</div>
	<div class="carousel-inner">

		{% for item in photos %}
			<div class="carousel-item {% if item.active %} active {% endif %}">
				<img src="{{ asset('images/charte/slider/' ~ item.asset) }}" class="d-block w-100" alt="{{ item.alt }}">
				<div class="carousel-caption d-none d-md-block">
					<h1>Bienvenue sur Gigastore !</h1>
					<p>Plus de 100 000 références à des prix imbattables !</p>
					<a href="#" class="btn btn-primary m-5 btn-lg" role="button">
						En savoir plus
					</a>
				</div>
			</div>
		{% endfor %}

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
