<h5 class="text-center">Copyright 2024 -
	<strong>Gigastore</strong>
</h5>
<p class="text-light">Tous droits de reproduction réservés</p>
<h5 class="text-center">
	<a href="" class="text-body text-decoration-none">Mentions légales  </a>
	<a href="" class="text-body text-decoration-none">  CGV</a>
</h5>
