<h3 class='text-center'>
		<strong>
			<i class="bi bi-stars"></i>
			Ce mois-ci</strong>
	</h3>
	<div class="card">
		<img src="{{asset('images/livres/medium/32-decembre.jpg')}}" class="card-img-top" alt="...">
		<p class="text-primary m-2">32 décembre</p>
		<div class="card-body">
			<p class="card-text ">Auteur :
				<strong>Enki Bilal</strong>
			</p>
			<hr>
			<p class="card-text ">Editeur :
				<strong>Casterman</strong>
			</p>
			<hr>
			<p class="card-text ">Optus Warhole, le duplicateur d'humains, se mue en Artiste du Mal Sumprême...</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary btn-sm" role="button">
				<p class="m-0">Acheter (15.50)</p>
			</a>
		</div/>
	</div>