{% extends 'layout/master-layout.html.twig' %}

{% block title %}Spectacles - Gigastore
{% endblock %}

{% block header %}
	{% include "partials/carousel.html.twig" %}
{% endblock %}


{% block body %}

	<div class="position-relative d-none d-md-block">
		<img src="{{ asset('images/charte/slider/slider-book-pages.jpg') }}" class="img-fluid" alt="books">
		<div class="position-absolute top-50 start-50 translate-middle text-white text-center">
			<h2>Gigastore</h2>
			<p>Plus de 100 000 références à des prix imbattables !</p>
		</div>
	</div>


	<div class="my-5">
		<h1>
			<i class="bi bi-info-circle cursor-pointer"></i>
			A propos de Gigastore</h1>
	</div>

	<div class="row ">
		<main class="col-md-6">
			<h2>Historique de l'entreprise</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci veniam accusantium aliquid minima, ullam, officiis excepturi delectus explicabo illum deleniti in laudantium nulla dolores quisquam ex voluptate. Rerum recusandae iste nulla, laboriosam saepe sequi nam nihil cum, perferendis sit debitis natus facere deserunt sint et, odit modi fuga. Beatae, alias! Itaque totam porro error laudantium asperiores minima, ex animi omnis repellendus expedita amet non, et eum veniam quaerat nobis cupiditate assumenda? Quia sequi, eaque possimus, ab in quisquam repudiandae fuga id suscipit voluptate, asperiores fugit ad a eligendi alias mollitia et nisi neque nobis. Mollitia sequi est, commodi fuga reprehenderit corrupti cum consequatur veritatis excepturi ut alias minima explicabo. Repudiandae maxime reiciendis porro enim magni vel nihil inventore ad nemo quidem? Deleniti voluptatibus alias enim odio inventore officia vel facere impedit dicta blanditiis, magnam voluptates labore at eum ipsam nisi optio velit vitae reiciendis, nihil rem obcaecati asperiores? Esse, velit?</p>
		</main>
		<aside class="col-md-6">
			<h2>L'entreprise aujourd'hui</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sequi eius perferendis vero, vitae sunt reprehenderit incidunt quisquam quis! Nesciunt consequuntur necessitatibus impedit, quod architecto doloremque aperiam quidem nulla! Voluptatem distinctio molestias culpa odit quisquam magnam voluptatum iure sunt optio, maiores asperiores. Temporibus laborum harum voluptatibus aut perspiciatis nisi labore necessitatibus sed distinctio quas, consequatur, vitae repellendus illum maiores asperiores saepe deserunt excepturi. Porro quis culpa, numquam voluptates blanditiis voluptatem a perspiciatis nulla illum! Deserunt rem voluptate et. Eos sed nobis labore corrupti, quidem sint, reprehenderit voluptate corporis aspernatur, libero quaerat velit in doloremque totam aliquid explicabo ea consectetur nesciunt modi ipsum maiores ut reiciendis? Laborum laudantium molestiae provident cum accusamus rem obcaecati facere, hic ducimus omnis sint nam modi mollitia praesentium voluptas ipsam sequi asperiores quis? Blanditiis eos esse totam porro non. Nam fugiat, id expedita magnam suscipit animi optio maxime quis consequuntur numquam harum unde alias. Vel accusamus amet nesciunt, sunt ducimus dolores perferendis sequi nulla fuga ab autem. Aliquam ad odit, cupiditate quisquam pariatur praesentium accusamus ipsam porro necessitatibus placeat corporis reprehenderit consequuntur? Itaque praesentium aliquam voluptate rem maiores sit qui harum eos accusamus veritatis odit laborum, nihil quaerat ad autem aspernatur, quas adipisci quia. Ad, voluptatibus?</p>
		</aside>
	</div>
{% endblock %}
