{% extends 'layout/master-layout.html.twig' %}

{% block title %}Spectacles - Gigastore
{% endblock %}

{% block header %}
	{% include "partials/carousel.html.twig" %}
{% endblock %}



{% block body %}

	<h1>
		<i class="bi bi-envelope-open"></i>
		Nos coordonnées</h1>
	<h2>Gigastore</h2>
	<p>10 quai des indes</p>
	<p>56100 Lorient</p>
	<div style="width: 100%">
		<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=21%20quai%20des%20indes+(21%20quai%20des%20indes)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
			<a href="https://www.gps.ie/collections/drones/">drone quadcopter</a>
		</iframe>
	</div>
{% endblock %}
