{% extends 'layout/master-layout.html.twig' %}

{% block title %}Spectacles - Gigastore
{% endblock %}

{% block header %}
	{% include "partials/carousel.html.twig" %}
{% endblock %}


{% block body %}
    <div class="card p-3">
		<div class="card-body">
			<h1>
				<i class="bi bi-wrench-adjustable-circle-fill"></i>
				En construction</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quae alias itaque ipsum illum dolores architecto est eos omnis repellendus blanditiis unde nostrum praesentium accusamus, voluptate esse labore deserunt fugit aspernatur a id optio nemo maiores? Totam distinctio maxime magnam vitae alias ratione. Quos aliquid tenetur commodi repudiandae. Nobis officia, iusto hic distinctio molestiae laudantium similique accusantium natus corporis officiis repudiandae veritatis earum fuga vitae eos aspernatur incidunt amet? Quae ea repellendus, similique officiis maiores omnis ducimus at provident! Totam, nam fugiat. Reiciendis ut neque vero ipsam nihil eligendi, facilis, accusamus similique possimus aut tenetur, optio dignissimos explicabo id. Iusto!</p>
		</div>
	</div>
{% endblock %}
